.home-feature-items{
    margin: 25px 10px;
    text-align: center;
}
.home-page-app-add{
    height: 30vh;
    background-color: rgb(236, 234, 216);
}
.feature-items-container{
   display: grid;
   grid-template-columns: auto auto auto;
   align-items: center;
   justify-content: center;
   gap: 10px;
   padding-bottom: 50px;
}


.site-map{
    height: 30vh;
    background-color: rgb(240, 227, 240);
}