.home-feature-items{
    margin: 25px 10px;
    text-align: center;
}
.home-page-app-add{
    height: 30vh;
    background-color: rgb(236, 234, 216);
}
.feature-items-container{
    margin: 0 auto;
    max-width: 1150px;
    width: 100%;
}


.site-map{
    height: 30vh;
    background-color: rgb(240, 227, 240);
}