.invest-page-container{
}


.check-box-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
}

.i-p-c2{
   margin: auto;
}
.invest-page-business-container{
   
   margin: 0 auto;
   padding: 20px;
   display: grid;
   grid-template-columns: auto auto;
   align-items: center;
   justify-content: center;
}
.s-c{
  
   max-width: 100%;
   text-align: center;
   margin: 30px auto;
}
.i-p-filter-container{
    align-items: center;
    margin-bottom: 30px;
}


.search{
   padding:15px 10px;
   width: 600px;
   border-radius: 10px 0px 0px 10px;
   border: 0.5px solid rgb(221, 221, 221);
   font-size: medium;
}

.s-btn{
   padding:15px 10px;
   width: 80%;
   border-radius: 0px 10px 10px 0px;
   border: 0.5px solid rgb(221, 221, 221);
   font-size: medium;
}

 
