.invest-page-container{

}

.i-p-r{
   display: flex;
}

.i-p-c1{
   flex: 1;
   background-color: rgb(222, 226, 247);
   padding-top: 10px;
   padding-left: 20px;
   padding-bottom: 50px;
}
.check-box-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
}

.i-p-c2{
   flex: 1.5;
   padding: 20px;
}

.i-p-filter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}


.search{
   padding: 10px;
   width: 60%;
}


 
